.custom_role_label_in_table{
    font-size:10px;
 }
 .dataTables_length select {
    padding: 0.375rem 0.75rem;
    margin:0.375rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .dataTables_length select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .dataTables_length select::-ms-expand {
    display: none;
  }

  .dataTables_filter input {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .dataTables_filter input:focus {
    border-color: #696cff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }


  .dataTables_paginate {
    text-align: right;
    margin-top: 1rem;
  }

  .dataTables_paginate .paginate_button {
    padding: 0.5rem 0.75rem;
    margin-left: 0.25rem;
    display: inline-block;
    color: #007bff;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;
  }

  .dataTables_paginate .paginate_button:hover {
    color: #0056b3;
  }

  .dataTables_paginate .paginate_button.current {
    background-color: #696cff;
    color: #fff !important;
  }

  .dataTables_paginate .paginate_button.disabled {
    pointer-events: none;
    color: #6c757d;
    border-color: #6c757d;
  }

  .dataTables_paginate .paginate_button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

 .hand{
   cursor: pointer;
 }
 .score{
   display: inline-flex !important;
   justify-content: center !important;
   align-items: center !important;
   height: 2.5rem !important;
   width: 2.5rem !important;
   font-size: 0.8125em !important;
 }
